@use './revo-grid.mixin.scss' as *;
@use './revo-grid.common-material.scss' as *;
@use './revo-grid.common.light.scss' as *;

revo-grid[theme='compact'] {
  $header-height: 45px;
  $default-rows-size: 32px;
  @include revoGrid($header-height, $default-rows-size);
  @include revoGridLight;

  revo-dropdown {
    .rv-dr-root {
      padding: 0px 9px;
    }
  }
}
